:root {
  --isDarkThemeOn: false;
}

@media (prefers-color-scheme: dark) {
  :root {
    --isDarkThemeOn: true;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --isDarkThemeOn: false;
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #eeffff, #ffeeff);
  transition: all 0.2s;
}

body.dark {
  background: #222;
}

h1 {
  color: #333;
  margin: auto;
}

body.dark h1 {
  color: #eee;
}

h1.available-posts {
  margin-bottom: 30px;
  padding: 5px;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 90px;
}

body.dark .post {
  background: #333;
  color: #fff;
  border: none;
}

body.dark p {
  color: #fff;
}

.post {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 20px 20px 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}

@media screen and (min-width: 768px) {
  main {
    width: 60%;
  }
}

.post h2 {
  color: #333;
}

body.dark .post h2 {
  color: #ddd;
}

.spinner {
  position: fixed;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #333;
  border-top: 2px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.5s ease-in infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  height: 70px;
  transition: all 0.2s;
  border-bottom: 0px solid #ccc;
  box-shadow: none;
  border-bottom: 1px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

body.dark nav {
  background: #2e2e2e;
  border-bottom: none;
}

.nav-shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: #222;
}

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo h2 {
  color: royalblue;
  font-size: 2rem;
  user-select: none;
  font-family: "Fira Code", monospace;
}

body.dark .logo h2 {
  color: #6c91ff;
}

.create-post {
  width: 100%;
  margin: auto;
  height: 100%;
}

.tinymce {
  width: 100%;
  background-color: #ccc;
  margin: 5px 0;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 10px;
  transition: all 0.2s;
}

.input:focus {
  border-color: royalblue;
  outline: none;
}

.btn {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0.5rem 1rem;
  background: royalblue;
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  transition: all 0.2s;
}

.btn:hover {
  background: #3657b8;
}

.last-updated {
  color: #777;
  font-size: 0.8rem;
  font-style: italic;
}

.last-updated.in-posts-card {
  text-align: right;
  margin: 0;
  padding: 0;
}

#content {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

body.dark #content {
  background: #333;
}

.share-bar .thread-share-bar-buttons {
  display: none;
}
