@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --isDarkThemeOn: false;
}

@media (prefers-color-scheme: dark) {
  :root {
    --isDarkThemeOn: true;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --isDarkThemeOn: false;
  }
}

* {
  box-sizing: border-box;
}

*:not(pre *),
*:not(code *) {
  font-family: "Roboto", sans-serif;
}

html {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  scrollbar-color: #6c91ff #fff;
  scrollbar-face-color: #6c91ff;
  scrollbar-highlight-color: #fff;
}

html.dark {
  scrollbar-color: #6c91ff #222;
  scrollbar-face-color: #6c91ff;
  scrollbar-highlight-color: #222;
}

body {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #eeffff, #ffeeff);
  transition: all 0.2s;
  scrollbar-color: #6c91ff #fff;
  scrollbar-face-color: #fff;
  scrollbar-highlight-color: #000;
}

body.dark {
  background: #222;
}

body.dark table {
  color: #eee;
}

::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-thumb {
  border: 1px solid #eee;
  background-color: #6c91ff;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: #3657b8;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-button {
  background-color: #fff;
}

::-webkit-scrollbar-button:hover {
  background-color: #ccc;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(res/arrow_up.svg);
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url(res/arrow_down.svg);
}

::-webkit-scrollbar-button:horizontal {
  display: none;
}

body.dark::-webkit-scrollbar-track {
  background-color: #222;
}

body.dark::-webkit-scrollbar-button {
  background-color: #222;
}

body.dark::-webkit-scrollbar-button:hover {
  background-color: #333;
}

body.dark::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(res/arrow_up-white.svg);
}

body.dark::-webkit-scrollbar-button:vertical:increment {
  background-image: url(res/arrow_down-white.svg);
}

body.dark::-webkit-scrollbar-thumb {
  border: 1px solid #222;
  background-color: #6c91ff;
}

h1 {
  color: #333;
  margin: auto;
  font-weight: normal;
}

body.dark h1 {
  color: #eee;
}

h1.available-posts {
  margin-bottom: 30px;
  padding: 5px;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 90px;
}

body.dark .post {
  background: #333;
  color: #fff;
  border: none;
}

body.dark p {
  color: #fff;
}

.post {
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 20px 20px 10px 20px;
  margin: 10px auto;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
}

@media screen and (min-width: 768px) {
  main {
    width: 60%;
  }
}

a {
  color: #222;
}

body.dark a {
  color: #eee;
}

.post h2 a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  font-family: "Roboto";
}

body.dark .post h2 a {
  color: #fff;
}

.spinner {
  position: fixed;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #333;
  border-top: 2px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.5s ease-in infinite;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  height: 70px;
  transition: all 0.2s;
  border-bottom: 0px solid #ccc;
  box-shadow: none;
  border-bottom: 1px solid #ccc;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
}

body.dark nav {
  background: #2e2e2e;
  border-bottom: none;
}

.nav-shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1rem;
  line-height: 2rem;
  color: #222;
}

::selection {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo h2 {
  color: royalblue;
  font-size: 2rem;
  user-select: none;
  font-family: "Fira Code", monospace;
}

body.dark .logo h2 {
  color: #6c91ff;
}

.create-post {
  width: 100%;
  margin: auto;
  height: 100%;
}

.tinymce {
  width: 100%;
  background-color: #ccc;
  margin: 5px 0;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px 10px;
  transition: all 0.2s;
}

.input:focus {
  border-color: royalblue;
  outline: none;
}

.btn {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0.5rem 1rem;
  background: royalblue;
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  transition: all 0.2s;
}

.btn:hover {
  background: #3657b8;
}

.last-updated {
  color: #777;
  font-size: 0.8rem;
  font-style: italic;
}

.last-updated.in-posts-card {
  text-align: right;
  margin: 0;
  padding: 0;
}

#content {
  background: #fff;
  padding: 30px 30px 10px 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

body.dark #content {
  background: #333;
}

.share-bar .thread-share-bar-buttons {
  display: none;
}

.toggle-theme {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;
}

.toggle-theme:hover {
  background: rgba(0, 0, 0, 0.2);
}

.toggle-theme:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.2);
}

body.dark .theme-toggle-icon {
  color: #fff;
}

hr {
  background: transparent;
  height: 0;
  width: auto;
  border-top: 1px solid #222;
}

h2 {
  color: #222;
}

body.dark hr {
  border-color: #ccc;
}

body.dark h2 {
  color: #ddd;
}

.material-icons {
  font-size: 1rem;
  vertical-align: middle;
  position: relative;
  top: -0.1rem;
}

.share {
  cursor: pointer;
  user-select: none;
  text-align: right;
  transition: all 0.2s;
}

#comments {
  width: 100%;
  padding-bottom: 150px;
}

.comment {
  width: 100%;
  padding: 20px;
  background: #fff;
  margin: 20px 0;
  border-radius: 5px 5px 5px 0;
  border: 1px solid #ccc;
  line-height: 2rem;
}

body.dark .comment {
  background: #333;
}

.comment .user {
  color: #3657b8;
  font-size: 1.5rem;
  line-height: 2rem;
}

body.dark .comment .user {
  color: #6c91ff;
}

.comment .content,
.comment .last-updated {
  padding-left: 10px;
}

.details {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s;
}

.details[open] > .content {
  animation: openDetails 0.5s;
  padding: 20px 0 0 0;
}

.details:focus-within {
  outline: none;
}

.details summary {
  user-select: none;
  list-style: none;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
}

.details summary::marker {
  display: none;
}

::-webkit-details-marker {
  display: none;
}

.details summary:focus {
  outline: none;
}

@keyframes openDetails {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*:not(pre) code {
  color: #212700;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono";
  background: #f5f2f0;
  padding: 0 5px;
  font-size: 1rem;
  line-height: 2rem;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 20;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  padding: 30px;
  border-radius: 5px;
  z-index: 21;
}

.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
